// transition ease-out
@mixin easeOut {
    transition: all .7s ease-out;
}

// clearfix
@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// background
@mixin background ($img) {

    &#bg-img {
        background: $img;
        background-attachment: fixed;
        background-size: cover;
    }
}

// media queries
// mobile first

@mixin mediaQ($size) {
    @if $size=='wide' {
        @media only screen and (min-width: 1366px) {
            @content;
        }
    }

    @else if $size=='desktop' {
        @media only screen and (min-width: 960px) {
            //1024
            @content;
        }
    }

    @else if $size=='tablet' {
        @media only screen and (min-width: 600px) and // 768

        (max-width: 959px) {
            //1023
            @content;
        }
    }

    @else if $size=='sm2' {
        @media only screen and (min-width: 501px) and (max-width: 599px) {
            // 767
            @content;
        }
    }

    @else if $size=='sm' {
        @media only screen and (max-width: 500px) {
            @content;
        }
    }
}

//function to set text-color

@function set-color($color) {
    @if (lightness($color) < 40) {
        @return #000;
    }

    @else {
        @return #fff;
    }
}

