header {
    position: fixed;
    z-index: 2;
    width: 100%;
}
// menu overlay

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: .9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding, &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    // nav items side
    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5
        );
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
        }


    }

    // branding side
    &-branding {
        background: $primary-color;
        @include easeOut;
        transform: translate3d(0, 100%, 0);
    

        &.show {
            transform: translate3d(0, 0, 0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url(../imgages/lap-cat-profile.jpg);
            background-size: cover;
            border-radius: 50%;
            border: 3px solid $secondary-color;
            
        }
    }

    // nav items come from side
    .nav-item {
        
        transform: translate3d(600px, 0, 0);
        @include easeOut;
        
        &.show {
            transform: translate3d(0, 0, 0);
        }  

        &.current > a {
            color: $secondary-color;
        }

    }

    @for $x from 1 through 4 {
        .nav-item:nth-child(#{$x}) {
            transition-delay: $x * 0.1s;
        }
    }


    // nav links
    .nav-link {
        display: block;
        position: relative;
        font-size: 24px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }
}

main {
    padding: 4rem;
    // now this could be ok, but footer bellow viewport
    //height: 100%;  
    //make the footer stick to the bottom
    min-height: calc(100vh - 60px);
    font-size: 1.2rem;
    

    .icons {
        margin-top: 1rem;

        a {
            padding: .4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }

    // home page

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
            font-size: 6rem;
        }

        h2 {
            line-height: 2;
        }
    }   

    // about me area

    &#about {
        //overflow: visible;
        
        // grid template areas
        .about-info {
        display: grid;
        grid-gap: 30px;
        grid-template-areas: 
        'bioimage  bio  bio'
        'job1   job2   job3';
        grid-template-columns: repeat(3, 1fr);

            // set the grid areas
            .bio-image {
                grid-area: bioimage;
                margin: auto;   // center h
                border-radius: 50%;
                border: 3px solid $secondary-color;
            }
            .bio {
                grid-area: bio;
                font-size: 1.5rem;
            }
            .job-1 {
                grid-area: job1;
            }
            .job-1 {
                grid-area: job1;
            }
            .job-1 {
                grid-area: job1;
            }
            .job {
                background: lighten($primary-color, 5);
                padding: .5rem;
                border-bottom: 5px solid $secondary-color;
                h6 {
                    font-size: 1rem;
                }
            }
        } 
    }

    // work area

    &#work {
        margin-bottom: 1.7rem;
        // background: red;
        .projects {
            // display: grid;
            // grid-row-gap: 3.2rem;
            // grid-column-gap: 1.5rem;
            // grid-template-columns: repeat(3, 1fr);
            // grid-auto-rows: 1fr;

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            
            grid-gap: 3em;

            .item {
                position: relative;
                // place-self: center;
                height: 350px;
                overflow: hidden;
                
                a {
                    display: block;
                }
                > img {
                    // width: 100%;
                    // // height: 100%;
                    // object-fit: cover;
                    // margin-top: 1.5rem;
                    // border: 3px solid white;
                    // display: block;
                    height: 350px;
 
                    object-fit: cover;
                    width: 100%;
                    // height: auto;
                    // min-height: 100%;

                    &:hover {
                        opacity: .7;
                        border: 3px solid $secondary-color;
                        @include easeOut;
                    }
                } 
            }

            
        }

        // buttons
        .buttons {
            position: absolute;
            
            //background-color: rgba(255, 255, 255, 0.2);
            bottom: -5px;
            width: 100%;
            display: flex;
            align-content: center;
            justify-content: space-between;
        }
    }

    &#contact {
        overflow: hidden;
        .boxes {
            background-image: linear-gradient(to bottom, rgb(231, 163, 163), rgb(124, 183, 202));

            h2 {
                font-size: 2rem;
                line-height: 4;
            }

            .contact-form {
                margin: 0 13rem;

                label {
                    line-height: 2;
                }

                input {
                    font-size: 1rem;
                }

                .form-control {
                    border-radius: 5px;
                    color: #66615b;
                    font-size: 1rem;
                    padding: 7px 12px;
                    height: 40px;
                    width: 100%;
                    
                    
                }

                textarea.form-control {
                    //flex-grow: 1;
                    padding: 10px 18px;
                    width: 100%;
                    height: auto;
                    //margin-left: .5rem;
                }

                .btn-xl {
                    font-weight: 700;
                    font-size: 1rem;
                    text-transform: uppercase;
                    border-radius: 300px;
                    font-family: 'Montserrat', sans-serif;
                    padding: 1rem 2rem; 
                    margin: auto;
                    display: block;
                }
                
                .btn-primary {
                    background-color: #F05F44;
                    border-color: #F05F44; }
                
                .btn-primary:hover {
                    background-color: #ee4b08;
                    border-color: #ee4b08;
                    border-width: 5px;
                    cursor: pointer;
                }
            }
        
        }
    }
}

// footer {
    .footer {
        // make it stay at the bottom, set .main height - height footer
        text-align: center;
        padding: 1rem;
        background: $primary-color;
        height: 60px;
    }
// }


#mc_embed_signup form {
    text-align: left;
    padding: 1.7rem; }
  
  #mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    width: 96%;
    padding-bottom: 3%;
    min-height: 50px; }
  
  #mc_embed_signup .mc-field-group label {
    display: block;
    margin-bottom: 3px; }
  
  #mc_embed_signup .mc-field-group input:not([type='submit']) {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%; }
  
  #mc_embed_signup input:not([type='submit']) {
    border: 1px solid #abb0b2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  
  .contact-form input:not([type='submit']) {
    font-size: 1rem; }










//Layout: Header, footer, grid, navigation
// Layout rules divide the page into sections. Layouts hold one or
// more modules together. The major components are referred to as Layout styles.
// Layout declarations
// #header, #article, #footer {
// width: 960px;
// margin: auto;
// }
// #article {
// border: solid #CCC;
// border-width: 1px 0 0;
// }
//Layout: Header, footer, grid, navigation

// header, menu nav, overlay, main #index, #about, #work, #contact

// header - button

// header {
//     position: fixed;
//     z-index: 2;
//     width: 100%;
// }

// // menu overlay

// .menu {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     // opacity: .95;
//     visibility: hidden;

//     &.show {
//         visibility: visible;
    
//     }

//     &-branding, &-nav {
//         display: flex;
//         flex-flow: column wrap;
//         align-items: center;
//         justify-content: center;
//         float: left;
//         width: 50%;
//         height: 100vh;
//         overflow: hidden;
//     }

//     // nav items side
//     &-nav {
//         margin: 0;
//         padding: 0;
//         background: darken($primary-color, 5
//         );
//         list-style: none;
//         transform: translate3d(0, -100%, 0);
//         @include easeOut;

//         &.show {
//             transform: translate3d(0, 0, 0);
//         }


//     }

//     // branding side
//     &-branding {
//         background: $primary-color;
//         @include easeOut;
//         transform: translate3d(0, 100%, 0);
    

//         &.show {
//             transform: translate3d(0, 0, 0);
//         }

//         .portrait {
//             width: 250px;
//             height: 250px;
//             background: url(../imgages/lap-cat-profile.jpg);
//             background-size: cover;
//             border-radius: 50%;
//             border: 3px solid $secondary-color;
            
//         }
//     }

//     // nav items come from side
//     .nav-item {
        
//         transform: translate3d(600px, 0, 0);
//         @include easeOut;
        
//         &.show {
//             transform: translate3d(0, 0, 0);
//         }  

//         &.current > a {
//             color: $secondary-color;
//         }

//     }

//     @for $x from 1 through 4 {
//         .nav-item:nth-child(#{$x}) {
//             transition-delay: $x * 0.1s;
//         }
//     }


//     // nav links
//     .nav-link {
//         display: block;
//         position: relative;
//         font-size: 24px;
//         text-transform: uppercase;
//         padding: 1rem 0;
//         font-weight: 300;
//         @include easeOut;

//         &:hover {
//             color: $secondary-color;
//         }
//     }
// }

// main {
//     padding: 4rem;
//     // now this could be ok, but footer bellow viewport
//     //height: 100%;  
//     //make the footer stick to the bottom
//     min-height: calc(100vh - 60px);
//     font-size: 1.2rem;
    

//     .icons {
//         margin-top: 1rem;

//         a {
//             padding: .4rem;

//             &:hover {
//                 color: $secondary-color;
//                 @include easeOut;
//             }
//         }
//     }

//     // home page

//     &#home {
//         overflow: hidden;

//         h1 {
//             margin-top: 20vh;
//             font-size: 6rem;
//         }

//         h2 {
//             line-height: 2;
//         }
//     }   

//     // about me area

//     &#about {
//         //overflow: visible;
        
//         // grid template areas
//         .about-info {
//         display: grid;
//         grid-gap: 30px;
//         grid-template-areas: 
//         'bioimage  bio  bio'
//         'job1   job2   job3';
//         grid-template-columns: repeat(3, 1fr);

//             // set the grid areas
//             .bio-image {
//                 grid-area: bioimage;
//                 margin: auto;   // center h
//                 border-radius: 50%;
//                 border: 3px solid $secondary-color;
//             }
//             .bio {
//                 grid-area: bio;
//                 font-size: 1.5rem;
//             }
//             .job-1 {
//                 grid-area: job1;
//             }
//             .job-1 {
//                 grid-area: job1;
//             }
//             .job-1 {
//                 grid-area: job1;
//             }
//             .job {
//                 background: lighten($primary-color, 5);
//                 padding: .5rem;
//                 border-bottom: 5px solid $secondary-color;
//                 h6 {
//                     font-size: 1rem;
//                 }
//             }
//         } 
//     }

//     // work area

//     &#work {
//         margin-bottom: 1.7rem;
//         // background: red;
//         .projects {
//             // display: grid;
//             // grid-row-gap: 3.2rem;
//             // grid-column-gap: 1.5rem;
//             // grid-template-columns: repeat(3, 1fr);
//             // grid-auto-rows: 1fr;

//             display: grid;
//             grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            
//             grid-gap: 3em;

//             .item {
//                 position: relative;
//                 // place-self: center;
//                 height: 350px;
//                 overflow: hidden;
                
//                 a {
//                     display: block;
//                 }
//                 img {
//                     // width: 100%;
//                     // // height: 100%;
//                     // object-fit: cover;
//                     // margin-top: 1.5rem;
//                     // border: 3px solid white;
//                     // display: block;
//                     height: 350px;
 
//                     object-fit: cover;
//                     width: 100%;
//                     // height: auto;
//                     // min-height: 100%;

//                     &:hover {
//                         opacity: .7;
//                         border: 3px solid $secondary-color;
//                         @include easeOut;
//                     }
//                 } 
//             }

            
//         }

//         // buttons
//         .buttons {
//             position: absolute;
            
//             //background-color: rgba(255, 255, 255, 0.2);
//             bottom: -5px;
//             width: 100%;
//             display: flex;
//             align-content: center;
//             justify-content: space-between;
//         }
//     }

//     &#contact {
//         overflow: hidden;
//         .boxes {
//             background-image: linear-gradient(to bottom, rgb(231, 163, 163), rgb(124, 183, 202));

//             h2 {
//                 font-size: 2rem;
//                 line-height: 4;
//             }

//             .contact-form {
//                 margin: 0 13rem;
//                 //display: grid;
//                 //grid-template-columns: 1fr;
//                 //justify-self: center;
//                 //justify-items: center;
//                 //justify-items: center;
//                 //flex-flow: column wrap;
//                 //flex-direction: column;

//                 // div.left label{
                    
//                 //     width: 40%;
//                 //     float: left;
//                 // }

//                 // div.right label{
//                 //     width: 40%;
//                 //     float: left;
//                 // }

//                 // div.message {
//                 //     // line-height: 5;
//                 // }

//                 label {
//                     line-height: 2;
//                 }

//                 input {
//                     font-size: 1rem;
//                 }

//                 .form-control {
//                     border-radius: 5px;
//                     color: #66615b;
//                     font-size: 1rem;
//                     padding: 7px 12px;
//                     height: 40px;
//                     width: 100%;
                    
                    
//                 }

//                 textarea.form-control {
//                     //flex-grow: 1;
//                     padding: 10px 18px;
//                     width: 100%;
//                     height: auto;
//                     //margin-left: .5rem;
//                 }

//                 .btn-xl {
//                     font-weight: 700;
//                     font-size: 1rem;
//                     text-transform: uppercase;
//                     border-radius: 300px;
//                     font-family: 'Montserrat', sans-serif;
//                     padding: 1rem 2rem; 
//                     margin: auto;
//                     display: block;
//                 }
                
//                 .btn-primary {
//                     background-color: #F05F44;
//                     border-color: #F05F44; }
                
//                 .btn-primary:hover {
//                     background-color: #ee4b08;
//                     border-color: #ee4b08;
//                     border-width: 5px;
//                     cursor: pointer;
//                 }
//             }
        
//         }
//     }
// }

// footer {
//     &.footer {
//         // make it stay at the bottom, set .main height - height footer
//         text-align: center;
//         padding: 1rem;
//         background: $primary-color;
//         height: 60px;
//     }
// }